<header class="header">
    <div class="container">
        <nav class="nav">
            <h1 class="nav__logo">Logoheiwuybgeiyb</h1>
            <ul class="nav__list">
                <li class="nav__list-item"><a href="#" class="nav__list-link">Home</a></li>
                <li class="nav__list-item"><a href="#" class="nav__list-link">About</a></li>
                <li class="nav__list-item"><a href="#" class="nav__list-link">Price</a></li>
            </ul>
        </nav>
    </div>
</header>